<table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8 w-full !bg-transparent" cdkDropList
    cdkDropListOrientation="horizontal" (cdkDropListDropped)="drop($event)">

    @for (column of displayedColumns; track $index) {
    <ng-container matColumnDef="{{column}}">
        <th mat-header-cell *matHeaderCellDef mat-sort-header cdkDrag
            class="text-custom-topography  hover:!bg-custom-topography hover:text-custom-bg"> {{column}} </th>

        @if(column==='Poster') {
        <td mat-cell *matCellDef="let movie">
            <img src="{{movie[column]}}" alt="{{movie.Title}}" class="w-full object-cover" />
        </td>
        } @else {
        <td mat-cell *matCellDef="let movie" class="text-custom-topography ">
            <div class="text-xs overflow-hidden max-h-24">
                {{movie[column] }}
            </div>
        </td>
        }
    </ng-container>
    }

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<mat-paginator class="!bg-custom-topography mt-4" [length]="numberMoves" [pageSize]="10"
    (page)="pageChanged($event)">
</mat-paginator>

<style>
    ::ng-deep .mat-sort-header-arrow {
        color: white !important;
    }
</style>